{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Events{% endblock %}

{% block body %}
    {{ include('flash_notice.html.twig') }}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Stadt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for e in events %}
                <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                    <td>{{ e.name }}</td>
                    <td>{{ e.city }}</td>
                    <td>
                        <a href="{{ path("app_event_show", {"id":e.id}) }}">Anzeigen</a>
                        <a href="{{ path("app_event_delete", {"id":e.id}) }}">Löschen</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Keine Events gefunden</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <!-- EMBEDDED ELEMENT LADEN -->
    {{ render(controller('AppBundle:Event:embedded')) }}
    <!-- // -->
{% endblock %}